## Introduction to Scikit Learn (SKLearn)

Here we are going to cover the SkLearn python Machine Learning library.

Following is the Python Machine Learning Workflow:
    
0. End-to-End Machine Learning Framework Workflow
1. Getting the Data Ready
2. Choosing the right Estimator/Algorithm for the Data Acquired
3. Fitting the Model/Algorithm/Estimator 
4. Evaluating the Model
5. Improve the Model through Experimentation
6. Save and Reload the Trained Model
7. Putting it all Together

In [1]:
# Getting the Data Ready
import pandas as pd
heart_disease = pd.read_csv('../data/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
# Feature matrix
X = heart_disease.drop(['target'], axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [3]:
# Target column
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [4]:
# 2. Choose a right model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# 3. Fit the model on training data
from sklearn.model_selection import train_test_split
import numpy as np

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [7]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
78,52,1,1,128,205,1,1,184,0,0.0,2,0,2
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3

In [8]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,45,1,0,104,208,0,0,148,1,3.0,1,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
89,58,0,0,100,248,0,0,122,0,1.0,1,0,2
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2

In [9]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [10]:
y_train

78     1
199    0
177    0
227    0
208    0
      ..
257    0
198    0
146    1
10     1
283    0
Name: target, Length: 242, dtype: int64

In [11]:
# make predictions

y_pred = clf.predict(X_test)
y_pred

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1])

In [12]:
# 4. Evaluate the model
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.8360655737704918

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [15]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.71      0.75        21
           1       0.86      0.90      0.88        40

    accuracy                           0.84        61
   macro avg       0.82      0.81      0.81        61
weighted avg       0.83      0.84      0.83        61

In [16]:
print(confusion_matrix(y_test, y_pred))

[[15  6]
 [ 4 36]]

In [17]:
print(accuracy_score(y_test, y_pred))

0.8360655737704918

In [18]:
# 5. Experiment with different model
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Model accuracy with n_estimators {i}")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model fitted with test accuracy of {clf.score(X_test, y_test) * 100:.2f}")

Model accuracy with n_estimators 10
Model fitted with test accuracy of 78.69
Model accuracy with n_estimators 20
Model fitted with test accuracy of 77.05
Model accuracy with n_estimators 30
Model fitted with test accuracy of 80.33
Model accuracy with n_estimators 40
Model fitted with test accuracy of 77.05
Model accuracy with n_estimators 50
Model fitted with test accuracy of 80.33
Model accuracy with n_estimators 60
Model fitted with test accuracy of 81.97
Model accuracy with n_estimators 70
Model fitted with test accuracy of 81.97
Model accuracy with n_estimators 80
Model fitted with test accuracy of 88.52
Model accuracy with n_estimators 90
Model fitted with test accuracy of 81.97

In [19]:
# 6. Save and Reload model
import pickle

with open("random_forest_model.pkl", "wb") as file:
    pickle.dump(clf, file)

In [20]:
with open("random_forest_model.pkl", "rb") as file:
    model = pickle.load(file)

model.score(X_test, y_test)

0.819672131147541

In [21]:
# 7. Putting it all together

import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

heart_d = pd.read_csv("../data/heart-disease.csv")
X = heart_d.drop(['target'], axis=1)
y = heart_d['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train, y_train)
y_preds = clf.predict(X_test)

print(f"clf score on test set {clf.score(X_test, y_test) * 100:.3f}")

print(f"Classification Report {classification_report(y_test, y_pred)}")

print(f"Confusion Matrix {confusion_matrix(y_test, y_pred)}")

print(f"Accuracy Score {accuracy_score(y_test, y_preds)}")

with open("random_forest_model.pkl", "wb") as file:
    pickle.dump(clf, file)
    
with open("random_forest_model.pkl", "rb") as file:
    model = pickle.load(file)

print(f"Accuracy Score from loaded model {model.score(X_test, y_test) * 100:.3f}")

clf score on test set 88.525
Classification Report               precision    recall  f1-score   support

           0       0.42      0.27      0.33        30
           1       0.48      0.65      0.55        31

    accuracy                           0.46        61
   macro avg       0.45      0.46      0.44        61
weighted avg       0.45      0.46      0.44        61

Confusion Matrix [[ 8 22]
 [11 20]]
Accuracy Score 0.8852459016393442
Accuracy Score from loaded model 88.525

In [22]:
%matplotlib inline

# Getting our Data Ready

    1. Splitting our data into train and test, with features and target variable.
    2. Filling or imputing or deleting missing values.
    3. Converting non-numeric data to numerica values, also called as feature encoding.